
/* adding background image to the page */
body {
  text-align: center;
  background: url(back.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}


marquee {
  height: 20px;
  overflow: hidden;
  position: relative;
  background: #fefefe;
  color: black;
  border: 3px solid grey;
  width: 500px;
}
/* adding border to the text */
.boxed {
  border: 4px black solid;
    }

img {
  margin-left: 10px;
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 550px;
